.teal{
    color: #79B4B7;
}
.off-white{
    color: #FEFBF3
}
.beige{
    color: #F8F0DF;
}
.grey{
    color: #9D9D9D;
}

.background-teal{
    background-color: #79B4B7;
}
.background-off-white{
    background-color: #FEFBF3;
}
.background-beige{
    background-color: #F8F0DF;
}
.backgroung-grey{
    background-color: #9D9D9D;
}
.backgroung-white{
    background-color: white
}